@media only screen and (max-width: 600px) {
  nav ul{
    display: none;
  }
  nav #menuMob{
    display: flex;
  }
  nav .brand{
    display: none;
  }
  nav .brandMob{
    display: flex;
  }
}
